---
interface Props {
  title: string;
  breadcrumb?: string;
  backgroundImage?: string;
}

const {
  title,
  breadcrumb,
  backgroundImage = '/images/landscape-2.jpg',
} = Astro.props;
---

<section
  class="lusoi-page-hero"
  style={`background-image: url(${backgroundImage});`}
>
  <div class="container">
    <div class="text">
      <p class="breadcrumbs mb-2">
        <span class="mr-2"><a href="/">Home</a></span>
        {breadcrumb && <span>{breadcrumb}</span>}
      </p>
      <h1>{title}</h1>
    </div>
  </div>
</section>
